In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Admission_Predict.csv')

In [4]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [5]:
df.shape

(400, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.3 KB

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [9]:
df.drop(df.columns[0], axis=1, inplace=True)  # drops first column

In [10]:
df.head()

   GRE Score  TOEFL Score  University Rating  ...  CGPA  Research  Chance of Admit
0        337          118                  4  ...  9.65         1              0.92
1        324          107                  4  ...  8.87         1              0.76
2        316          104                  3  ...  8.00         1              0.72
3        322          110                  3  ...  8.67         1              0.80
4        314          103                  2  ...  8.21         0              0.65

[5 rows x 8 columns]

In [11]:
x = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [12]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
x_train

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
3          322          110                  3  3.5   2.5  8.67         1
18         318          110                  3  4.0   3.0  8.80         0
202        340          120                  5  4.5   4.5  9.91         1
250        320          104                  3  3.0   2.5  8.57         1
274        315          100                  1  2.0   2.5  7.95         0
..         ...          ...                ...  ...   ...   ...       ...
71         336          112                  5  5.0   5.0  9.76         1
106        329          111                  4  4.5   4.5  9.18         1
270        306          105                  2  2.5   3.0  8.22         1
348        302           99                  1  2.0   2.0  7.25         0
102        314          106                  2  4.0   3.5  8.25         0

[320 rows x 7 columns]

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [17]:
x_train_scaled

array([[0.64      , 0.64285714, 0.5       , ..., 0.375     , 0.59935897,
        1.        ],
       [0.56      , 0.64285714, 0.5       , ..., 0.5       , 0.64102564,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.875     , 0.99679487,
        1.        ],
       ...,
       [0.32      , 0.46428571, 0.25      , ..., 0.5       , 0.45512821,
        1.        ],
       [0.24      , 0.25      , 0.        , ..., 0.25      , 0.14423077,
        0.        ],
       [0.48      , 0.5       , 0.25      , ..., 0.625     , 0.46474359,
        0.        ]], shape=(320, 7))